<div class="m-5">
    <div>
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
</div>
<div>
    <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">.</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLabels()">.</button>
    <button mat-button mat-raised-button color="primary" (click)="addSlice()">.</button>
    <button mat-button mat-raised-button color="primary" (click)="removeSlice()">.</button>
    <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">.</button>
</div>
